<%- include('../partials/_header.ejs') %>

<h1>Bienvenue sur le site sur Duck Tales !</h1>
<img class="title-img" src="images/ducktales_title.jpg" alt="Duck Tales Title" />

<%- include('../partials/_footer.ejs') %>